<h2>Custom Pipes</h2>

<input [(ngModel)]="phrase" placeholder="Phrase" />
<input [(ngModel)]="lang" placeholder="Lang" />
<p> {{ phrase | translate:lang }} </p>


<h3>Translate</h3>
<p>{{ 'hello' | translate }}</p>
<p>{{ 'hello' | translate:'pl' }}</p>
<p>{{ 'hello' | translate:'en' }}</p>
<p>{{ 'goodbye' | translate:'pl' }}</p>
<p>{{ 'goodbye' | translate:'en' }}</p>
<p>{{ 'asd' | translate }}</p>

<h3>Multiply</h3>
<p>{{ 123 | multiply:2 }}</p>
<p>{{ timestamp | multiply:3 }}</p>
<p>{{ timestamp | multiply }}</p>
<p>{{ 4 | multiply:4 }}</p>

<h2>Built-in Pipes</h2>

<h3>Timestamp</h3>
<p>{{ timestamp }}</p>
<p>{{ timestamp | date }}</p>
<p>{{ timestamp | date:'short' }}</p>
<p>{{ timestamp | date:'h:mm:ss a zzzz' }}</p>

<p>{{ timestamp | date }}</p>
<p>{{ timestamp | date | uppercase }}</p>
<p>{{ timestamp | date | lowercase }}</p>

<h3>Currency</h3>
<p>{{ 123 | currency }}</p>
<p>{{ 123 | currency:'CAD':'symbol-narrow':'4.2-2' }}</p>

<h3>Decimal</h3>
<p>{{ 123456789.12 | number }}</p>

<h3>Percent</h3>
<p>{{ 0.34 | percent }}</p>
