<!-- <router-outlet></router-outlet> -->

<h3>{{ title }}</h3>

<app-hello
  [heading]="'Hello!'"
  [expand]="true"
  [clicks]="clicks"
  (headingClick)="onHelloHeadingClick($event)"
></app-hello>

<app-hello
  *ngIf="clicks % 3"
  [heading]="'World'"
  [clicks]="clicks"
  (headingClick)="onHelloHeadingClick($event)"
></app-hello>

<app-changes [clicks]="clicks"></app-changes>

<app-templates *ngIf="showTemplates"></app-templates>

<app-users></app-users>

<div class="preview section" [ngClass]="clicks % 2 == 0 ? 'even' : 'odd'"></div>

<div class="preview section" [ngClass]="previewClassNames"></div>

<div class="preview section" [ngStyle]="previewStyles"></div>
